 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma logo" style="width: 60px; height: auto;" />
      <p>I bring a user centered mindset to every project. I'm comfortable taking interface design from wireframes to front end development.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"  alt="Java logo" style="width: 60px; height: auto;" />
      <i class="devicon-mysql-original colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>I strive to write clean, efficient code. I'm comfortable with a variety of technologies, and always learning more.
        From version control to build automation, I've used tools like Git, Gulp, and Springboot to streamline development workflows
         and keep projects running smoothly and collaboratively.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-spring-original colored"></i>
      <p>From version control to build automation, I've used tools like Git, Gulp, and Springboot to streamline development workflows
         and keep projects running smoothly and collaboratively.</p>
    </div>
</div>
