 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-bootstrap-plain"></i>
      <i class="devicon-figma-plain"></i>
      <p>I bring a user centered mindset to every project, shaping intuitive, accessible interfaces from early sketches to interactive, responsive layouts. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain"></i>
      <i class="devicon-azuresqldatabase-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <p>I write clean, maintainable code and enjoy working across the stack to translate ideas into structured logic, reusable components, and dynamic experiences. </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain"></i>
      <i class="devicon-spring-original"></i>
      <p>I have experience using tools to streamline development, support collaboration, and debug effectively throughout the entire build and deployment process.</p>
    </div>
</div>
