 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <div class="design-icons">
      <i class="devicon-css3-plain"></i>
      <i class="devicon-bootstrap-plain"></i>
      <i class="devicon-figma-plain"></i>
      </div>
      <p>I bring a user centered mindset to my projects. My goal is to create intuitive tools that anyone can enjoy. I keep this in mind while making early sketches until I'm building interactive, responsive layouts. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <div class="code-icons">
      <i class="devicon-java-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-azuresqldatabase-plain"></i>
      </div>
      <p>I do my best to write clean, maintainable code. I enjoy working across the stack to translate ideas into structured logic, reusable components, and dynamic experiences. I'm always learning something new! </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <div class="tools-icons">
      <i class="devicon-git-plain"></i>
      <i class="devicon-digitalocean-original"></i>
      <i class="devicon-spring-original"></i>
      </div>
      <p>I have experience using tools to streamline development, support collaboration, and debug effectively throughout the entire build and deployment of a project.</p>
    </div>
</div>
