<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CakeQuest Screenshot" src="{{ "assets/img/CakeQuest_Mockup_3x.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CakeQuest </h3>
    <ul>
      <li>Spring Boot</li>
      <li>Hibernate/JPA</li>
      <li>MySQL</li>
      <li>Thymeleaf</li>
      <li>REST APIs</li>
      <li>Web Scraping (Jsoup)</li>
      <li>PWA Development</li>
      <li>CI/CD (GitHub Actions, Docker, DigitalOcean)</li>
      <li>MVC</li>
    </ul>
    <p>CakeQuest is a server side rendered PWA made with Spring Boot. This project creates a place for
      home bakers to centralize all of their favorite recipes by simply pasting in the URL. Recipes are then editable,
      giving bakers the ability to customize a recipe to their own taste. Cake, frosting, and filling recipes can be put together
      as custom Cake Orders. Each Cake Order automatically generates a unified shopping list,
      custom tasks, and a suggested timeline, making big cake projects simple and stress-free.</p>
    <a class="project-link" href="https://cakequest.shoshannatm.dev/welcome">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Lazztech Hub" src="{{ "assets/img/Lazztech_Hub_Mockup_3x.png" }}" />
  </div>
  <div class="contents-right">
    <h3>Lazztech Hub</h3>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>NodeJS</li>
      <li>GraphQL</li>
      <li>Ionic Framework</li>
      <li>MapLibre GL JS</li>
      <li>Service Worker PWA caching</li>
      <li>User Experience Design</li>
    </ul>
    <p>Lazztech Hub is a progressive web app designed and developed by Lazztech LLC to facilitate in-person 
      community building. I joined the project under the mentorship of <!--<a href="https://github.com/gianlazz">Gian Lazzarini</a>,-->
      Lazztech's senior software engineer. Since September 2025, I have contributed to both the frontend 
      and backend codebases. I have shipped multiple features and bug fixes, created and implemented a full UX redesign plan 
      to enhance usability across the app, and optimized performance by implementing Service Worker-based caching.</p>
    <a class="project-link" href="https://hub.lazz.tech/">Check it out</a>
  </div>
</div>
