<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CakeQuest Screenshot" src="{{ "/assets/img/cakequest-welcome-screenshot.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CakeQuest </h3>
    <ul>
      <li>Spring Boot</li>
      <li>Hibernate/JPA</li>
      <li>MySQL</li>
      <li>Thymeleaf</li>
      <li>REST APIs</li>
      <li>Web Scraping (Jsoup)</li>
      <li>PWA Development</li>
      <li>CI/CD (GitHub Actions, Docker, DigitalOcean)</li>
    </ul>
    <p>CakeQuest is a server side rendered progressive web app made with Spring Boot. This project creates a place for
      home bakers to centralize all of their favorite recipes by simply pasting in the URL. Recipes are then editable,
      giving bakers the ability to customize a recipe to their own taste. Cake, frosting, and filling recipes can be put together
      as custom Cake Orders. Each Cake Order automatically generates a unified shopping list,
      custom tasks, and a suggested timeline, making big cake projects simple and stress-free.</p>
    <a class="project-link" href="https://cakequest.shoshannatm.dev/welcome">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Taniti-Web-Prototype-Screenshot.png }}" />
  </div>
  <div class="contents-right">
    <h3>Taniti Website Prototype</h3>
    <ul>
      <li>Figma</li>
      <li>Prototyping & Interaction Design</li>
      <li>UI Design (Low & High Fidelity Wireframes)</li>
      <li>UX Research & Usability Testing</li>
      <li>Information Architecture & Navigation Design</li>
      <li>User Feedback Analysis & Iteration</li>
      <li>Presentation & Communication of Design Decisions</li>
    </ul>
    <p>This is a clickable web prototype built using Figma.
      For this project, I was given a set of requirements and a packet of information
      about a fictional island called "Taniti." I was tasked with creating a prototype
      for "Taniti's" website to support the island's growing tourism industry.
      I created low-fidelity and high-fidelity wireframes, built a clickable prototype,
      conducted usability testing, analyzed user feedback, iterated on designs,
      and presented the final high-fidelity wireframes.</p>
    <a class="project-link" href="https://www.figma.com/proto/XZrMYPqog0sLopc3S7ndLY/Taniti-Prototype?t=9XWxzncjNE5ch9CG-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&node-id=2013-1773&starting-point-node-id=2008%3A797">Check it out</a>
  </div>
</div>
