<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CakeQuest Screenshot" src="{{ "/assets/img/cakequest-welcome-screenshot.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CakeQuest </h3>
    <ul>
      <li>Spring Boot</li>
      <li>Hibernate/JPA</li>
      <li>MySQL</li>
      <li>Thymeleaf</li>
      <li>REST APIs</li>
      <li>Web Scraping (Jsoup)</li>
      <li>PWA Development</li>
      <li>CI/CD (GitHub Actions, Docker, DigitalOcean)</li>
    </ul>
    <p>CakeQuest is a server side rendered progressive web app made with Spring Boot. This project creates a place for
      home bakers to centralize all of their favorite recipes by simply pasting in the URL. Recipes are then editable,
      giving bakers the ability to customize a recipe to their own taste. Cake, frosting, and filling recipes can be put together
      as custom Cake Orders. Each Cake Order automatically generates a unified shopping list,
      custom tasks, and a suggested timeline, making big cake projects simple and stress-free.</p>
    <a class="project-link" href="https://cakequest.shoshannatm.dev/welcome">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
