#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  flex-basis: 100%;
  margin: 10px auto;
  p {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (min-width: 900px) {
    flex-basis: auto;
    max-width: 280px;
    margin: 10px;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: 900px) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.design-icons,
.code-icons,
.tools-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}